{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}


<div class="card my-5">

    <div class="card-body">
      {% for messages in get_flashed_messages() %}
      <div class="alert alert-success my-3" role="alert">
        {{messages}}
      </div>
    {% endfor %}

      {{wtf.quick_form(form)}}
       <hr>
        <p class="mt-3">Result </p>
   
        {% if name %}
        <pre class="text-success">
        <strong>ชื่อ => {{name}}</strong>
        <strong>เพศ => {{gender}}</strong>
        <strong>ประสบการณ์ทำงาน => {{exp}}</strong>
        <strong>ยอมรับความจริง => {% if checkAccept %}ยอมรับ{% else %} ไม่ยอมรับ {% endif %}</strong>
        </pre>
        {% else %}
        <pre class="text-danger">
        <strong> ไม่พบข้อมูล </strong>
        {% endif %}
        </pre>
    </div>
</div>
<script>
  const btn = document.querySelector('.btn.btn-default');
  btn.classList.remove('btn-default');
  btn.classList.add('btn-success');

</script>
{% endblock %}