{% extends "layout.html" %}
{% block content %}
<div class="card mt-5">
    <div class="card-body">
        <h3>ติดต่อ</h3>
<form action="{{url_for('contactForm')}}" method="get">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="emailcontact" name="emailcontact">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">ชื่อผู้ติดต่อ</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="namecontact" name="namecontact">
      </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">รายละเอียด</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="detail" name="detail" cols="3" rows="10"></textarea>
        </div>
      </div>
    <div class="row justify-content-center"> 
        <button type="submit" class="btn btn-success btn-md mb-2 col-3">Save</button>
    </div>
   
    <p>Result </p>
    <pre class="text-danger">
        {{mydata}}
    </pre>
  </form>
</div>
</div>
{% endblock %}